body{
    background-color: #FFFFFF;
}

#root{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    position: relative;
}
.NavBar{
    position: absolute;
width: 550px;
height: 55px;
left: 0px;
top: 0px;
display: block;
background: #F55A5A;
}

.NavBar--title{
    position: absolute;
    width: 109px;
    height: 16px;
    left: 244px;
    top: 20px;
    display: block;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    
    color: #FFFFFF;
}

.NavBar--title > img{
    position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px/2 - 50px);
top: calc(50% - 24px/2 - 324px);

background: #DADADA;
}

.App{
    position: absolute;
width: 550px;
height: 704px;
left: 0px;
top: 0px;

background: #ffffff;
}

.img{
    float: left;
}



.container{
    position: absolute;
    top:55px;
}

/* .location{
    float: left;
} */

.Card{
    position: relative;
    height: 200px;
}

a{
    position: relative;
    top:-35px;
    left:100px;
    text-decoration: none;
    color: gray;
}

h2{
    position: relative;  
    top:-50px;
}

section{
        position: relative;
        top:-50px;
        height: 45px;

        /* position: absolute;
width: 326px;
height: 45px;
left: 184px;
top: 203px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%; */
/* or 15px */

color: #2B283A;
}

.data{
    position: relative;
    top:-50px ;
    left: 15px;
}